
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <p>You open the chest and look in.</p>
    <p>You see an old key resting alone at the bottom of the chest.</p>

    <button onclick="location.href = '/Game/TakeKey';">Take Key</button>
    <button onclick="location.href = '/Game/Index';">GoBack</button>