@{
    ViewData["Title"] = "Game Home";
}

<p>You stand at the end of a wide road which continues to the west. The barren wilderness from whence you came lies to the east and south. To the north you see a broad field surrounded by a tall fence and accessible only through a gate. A small chest sits on the ground by the fence. </p>

<button onclick="location.href = '/Game/Chest';">Chest</button>
<button>Go West</button>
<button>Gate</button>
