
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>You take the old key from the bottom of the chest. </p>
<p>The chest is empty. </p>

<button onclick="location.href = '/Game/Index';">GoBack</button>