@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Thunder Dome</h1>
    <br />


    <p>A pretty average (possibly even sub-par) Adventure Game lives here</p>
    <form>
        <label for="User">Who are you?</label><br>
        <input type="text" id="username" name="username"><br><br />
    </form>
    <button onclick="location.href = '/Game';">Start Game</button>
</div>
